<html><head><style>
    form {
        margin: auto;
        width: 35%;
    }
    
    .result {
        margin: auto;
        width: 35%;
        border: 1px solid #ccc;
    }
    </style>
    
    
        <title>Рекомендация соотношения матрица-наполнитель</title>
    </head>
    
    <body><form action="/index" method="POST">
        <fieldset>
            <legend>Введите значение</legend>
             
            x1
            <input name="x1" type="numder" required="">
                  
            <br>
            <br>
             
            x2
            <input name="x2" type="numder" required="">
                  
            <br>
            <br>
             
            x3
            <input name="x3" type="numder" required="">
                  
            <br>
            <br>
             
            x4
            <input name="x4" type="numder" required="">
                  
            <br>
            <br>
             
            x5
            <input name="x5" type="numder" required="">
                  
            <br>
            <br>
             
            x6
            <input name="x6" type="numder" required="">
                  
            <br>
            <br>
             
            x7
            <input name="x7" type="numder" required="">
                  
            <br>
            <br>
             
            x8
            <input name="x8" type="numder" required="">
                  
            <br>
            <br>
             
            x9
            <input name="x9" type="numder" required="">
                  
            <br>
            <br>
             
            x10
            <input name="x10" type="numder" required="">
                  
            <br>
            <br>
             
            x11
            <input name="x11" type="numder" required="">
                  
            <br>
            <br>
             
            x12
            <input name="x12" type="numder" required="">
                  
            <br>
            <br>
            
            <input type="submit">
        </fieldset>
    </form>
    
    <div class="result" align="center">
        
    </div></body></html>